## 1. Cost of the event

#### a) Provide a python function called cost_of_event that takes as parameters:

In [91]:
def cost_of_event(num_of_people, type = 'private', cost = 50.0):
    if type == 'wedding':
        return num_of_people*cost*1.5
    if type == 'corporate' or type == 'private':
        return num_of_people*cost
    else:
        return

In [92]:
#Show the function output for a wedding with 150 people at a cost of $450 per person.
cost_of_event(150,'wedding',450)

101250.0

#### b) We now want to provide information on the applicable sales tax as well.

In [93]:
# takes in the value of an event and returns the total amount of sales
# tax. Make sure this function has a tax_rate parameter and set the
# default to 10 percent.
def sales_tax (net_cost,type = 'private', tax_rate=0.1):
    if type == 'wedding' or type == 'private': 
        if net_cost <= 1000:
            tax_rate = 0
        return (net_cost - 1000)*tax_rate
    if  type == 'corporate':
        return net_cost*tax_rate
    else:
        return

In [94]:
#Print the result of your function for a private event costing $5000.
print(sales_tax(5000,'private',0.1))

400.0

In [95]:
#Print the result of your function for a corporate event costing $5000.
print(sales_tax(5000,'corporate',0.1))

500.0

#### c) Now combine the functions cost_of_event and sales_tax into a third function called event_calculator.

In [96]:
def event_calculator(num_of_people, type = 'private', cost = 50.0, tax_rate=0.1):
    def cost_of_event(num_of_people, type = 'private', cost = 50.0):
        if type == 'wedding':
            return num_of_people*cost*1.5
        if type == 'corporate' or type == 'private':
            return num_of_people*cost
        else:
            return 
    def sales_tax (net_cost,type = 'private', tax_rate=0.1):
        if type == 'wedding' or type == 'private': 
            if net_cost <= 1000:
                tax_rate = 0
            return (net_cost - 1000)*tax_rate
        if  type == 'corporate':
            return net_cost*tax_rate
        else:
            return
    print(f"Total number of guest: {num_of_people}")
    print(f"Type of event: {type}")
    print(f"Cost per person: {cost}")
    print('--------------------------------')
    print(f"Cost of event: {cost_of_event(num_of_people,type,cost)}")
    net_cost = cost_of_event(num_of_people,type,cost)
    print(f"Sales tax: {sales_tax(net_cost,type, tax_rate)}")
    tax = sales_tax(net_cost,type, tax_rate)
    print('--------------------------------')
    total_cost = tax+net_cost
    print(f"Total cost: {total_cost}")

In [97]:
event_calculator(num_of_people=100,type = 'corporate', cost = 75.0, tax_rate=0.08)

Total number of guest: 100
Type of event: corporate
Cost per person: 75.0
--------------------------------
Cost of event: 7500.0
Sales tax: 600.0
--------------------------------
Total cost: 8100.0

## 2. Error handling

#### a)

In [98]:
#Add assertions (in any place you find appropriate) that warn a user
#when either of these requirements are not fulfilled.
def event_calculator(num_of_people, type = 'private', cost = 50.0, tax_rate=0.1):
    assert cost>=0, "cost per person should be non-negative."
    assert tax_rate>=0 and tax_rate<=0.25, "the sale tax should be within the range from 0 to 25%."
    assert type in ('private', 'wedding', 'corporate'), 'only private, wedding and corporate are accepted as type'
    
    def cost_of_event(num_of_people, type = 'private', cost = 50.0):
        if type == 'wedding':
            return num_of_people*cost*1.5
        if type == 'corporate' or type == 'private':
            return num_of_people*cost
        else:
            return 
    def sales_tax (net_cost,type = 'private', tax_rate=0.1):
        if type == 'wedding' or type == 'private': 
            if net_cost <= 1000:
                tax_rate = 0
            return (net_cost - 1000)*tax_rate
        if  type == 'corporate':
            return net_cost*tax_rate
        else:
            return
        
    print(f"Total number of guest: {num_of_people}")
    print(f"Type of event: {type}")
    print(f"Cost per person: {cost}")
    print('--------------------------------')
    print(f"Cost of event: {cost_of_event(num_of_people,type,cost)}")
    net_cost = cost_of_event(num_of_people,type,cost)
    print(f"Sales tax: {sales_tax(net_cost,type, tax_rate)}")
    tax = sales_tax(net_cost,type, tax_rate)
    print('--------------------------------')
    total_cost = tax+net_cost
    print(f"Total cost: {total_cost}")

In [99]:
event_calculator(100,type = 'bachelor party')

AssertionError: only private, wedding and corporate are accepted as type

In [100]:
event_calculator(100,cost=-10)

AssertionError: cost per person should be non-negative.

#### b)

In [101]:
#Add assertions (in any place you find appropriate) that warn a user
#when either of these requirements are not fulfilled.
def event_calculator(num_of_people, type = 'private', cost = 50.0, tax_rate=0.1):   
    try:
        if cost<0:
            raise OutofRangeError
        if tax_rate<0 or tax_rate>0.25:
            raise OutofRangeError
        if type not in ('private', 'wedding', 'corporate'):
            raise OutofRangeError
            
        def cost_of_event(num_of_people, type = 'private', cost = 50.0):
            if type == 'wedding':
                return num_of_people*cost*1.5
            if type == 'corporate' or type == 'private':
                        return num_of_people*cost
        def sales_tax (net_cost,type = 'private', tax_rate=0.1):
            if type == 'wedding' or type == 'private': 
                if net_cost <= 1000:
                    tax_rate = 0
                return (net_cost - 1000)*tax_rate
            if  type == 'corporate':
                return net_cost*tax_rate  
                    
        print(f"Total number of guest: {num_of_people}")
        print(f"Type of event: {type}")
        print(f"Cost per person: {cost}")
        print('--------------------------------')
        net_cost = cost_of_event(num_of_people,type,cost)        
        print(f"Cost of event: {cost_of_event(num_of_people,type,cost)}")
        tax = sales_tax(net_cost,type, tax_rate)
        print(f"Sales tax: {sales_tax(net_cost,type, tax_rate)}")
        print('--------------------------------')
        total_cost = tax+net_cost
        print(f"Total cost: {total_cost}")
            
        
    except Exception:
        print(f'Please check your input values.')

In [102]:
event_calculator(100,tax_rate = -1)

Please check your input values.

## 3. Multiple events

In [85]:
import pandas as pd

In [103]:
data = [(200, 'private', 55, 10, 12100), 
        (150, 'wedding', 280, 10, 69300), 
        (20, 'corporate', 80, 15, 1840), 
        (8, 'private', 100, 10, 880)]
df = pd.DataFrame.from_records(data, columns=['num_of_people', 'type', 'cost', 
                                         'sales_tax_rate', 'total_cost'])
df

   num_of_people       type  cost  sales_tax_rate  total_cost
0            200    private    55              10       12100
1            150    wedding   280              10       69300
2             20  corporate    80              15        1840
3              8    private   100              10         880

In [104]:
for ind in df.index:
    event_calculator(df['num_of_people'][ind],df['type'][ind],df['cost'][ind],df['sales_tax_rate'][ind]*0.01)
    print('\n')

Total number of guest: 200
Type of event: private
Cost per person: 55
--------------------------------
Cost of event: 11000
Sales tax: 1000.0
--------------------------------
Total cost: 12000.0


Total number of guest: 150
Type of event: wedding
Cost per person: 280
--------------------------------
Cost of event: 63000.0
Sales tax: 6200.0
--------------------------------
Total cost: 69200.0


Total number of guest: 20
Type of event: corporate
Cost per person: 80
--------------------------------
Cost of event: 1600
Sales tax: 240.0
--------------------------------
Total cost: 1840.0


Total number of guest: 8
Type of event: private
Cost per person: 100
--------------------------------
Cost of event: 800
Sales tax: 0
--------------------------------
Total cost: 800